body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 16px;
}

.preview {
  margin: 16px 0;
}

main {
  display: flex;
  // justify-content: space-between;
}

.item {
  padding: 16px;
  min-width: 32px;
  min-height: 32px;
  position: relative;
}

.item .active {
  position: absolute;
  width: 4px;
  height: 4px;
}

.paper {
  padding: 16px;
  flex: 1;
  margin-right: 16px;
  header {
    display: flex;
    justify-content: space-between;
  }
}

.example {
  margin-right: 0px;
  flex: 0.5;
}

h6 {
  color: #165c7d;
}

.properties {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .property {
    margin: 48px 0;
    flex: 1;
    font-size: 16px;
  }
}

.renderers {
  display: flex;
  justify-content: space-evenly;
  pre {
    margin-top: 0;
    padding: 24px 0;
  }
}

$corner-size: 3px;
$corner-color: #212322;

.item .top-left {
  left: 0;
  top: 0;
  border-top: $corner-size solid $corner-color;
  border-left: $corner-size solid $corner-color;
}

.item .top-right {
  right: 0;
  top: 0;
  border-top: $corner-size solid $corner-color;
  border-right: $corner-size solid $corner-color;
}

.item .bottom-left {
  left: 0;
  bottom: 0;
  border-bottom: $corner-size solid $corner-color;
  border-left: $corner-size solid $corner-color;
}

.item .bottom-right {
  right: 0;
  bottom: 0;
  border-bottom: $corner-size solid $corner-color;
  border-right: $corner-size solid $corner-color;
}

.editor label {
  display: block;
}
